body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    background-color: #FFF;
}

.header {
    text-align: right;
    padding: 20px 20px;
}

.header a {
    color: #8C9FE8;
    font-style: italic;
}

.header .exitButton {
    color: #000000;
    background-color: #E3E3E3;
    border: none;
    border-radius: 10px;
}

.header .exitButton:hover {
    background-color: #BEB7B7;
}

div.main-menu-href {
    text-align: left;
    padding: 20px 20px;
    color: #8C9FE8;
    font-style: italic;
}

.title h1 {
    font-size: 24px;
    font-weight: normal;
}

.title input[name="movieName"] {
    height: 20px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title input[name="pressedButton"] {
    height: 36px;
    padding: 6px 12px;
    color: #fff;
    background-color: #98A9EC;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}

.title input[name="pressedButton"]:hover {
    background-color: #526FE0;
}

.answer {
    height: 36px;
    width: 63px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 5px auto;
    display: inline-block;
}

.answer p {
    line-height: 36px;
    margin: 0px auto;
}

.yes {
    background-color: #79F18C;
}

.no {
    background-color: #F17A79;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 5px;
}

.vote-yes {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.vote-no {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.vote-yes span, .vote-no  span {
    position: absolute;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 5px;
    font-style: italic;
    color: #A3A3A3;
}

.info-list {
    width: 800px;
    margin: 20px auto;
}

.title-row tr:first-child {
    background: #FDC891;
    text-align: center;
}

.second-row tr:nth-child(2n) {
    background: #E6E6E6;
}

.four-column-table tr td:nth-child(1), .four-column-table tr td:nth-child(3) {
    width: 35%; 
}

.four-column-table tr td:nth-child(2) {
    width: 10%;
}

.four-column-table tr td:nth-child(4) {
    width: 20%;
}

/* *************** User Page styles *************** */
.input-row tr:first-child {
    background: #E6E6E6;
}

.info-list input {
	font-size: 14px;
    background: #E6E6E6;
    width: 100%;
}

.eight-column-table tr td:nth-child(1) {
    width: 12%; 
}

.eight-column-table tr td:nth-child(2), .eight-column-table tr td:nth-child(4),
        .eight-column-table tr td:nth-child(5) {
    width: 18%;
}

.eight-column-table tr td:nth-child(3) {
    width: 6%;
}

.eight-column-table tr td:nth-child(6) {
    width: 12%;
}

.eight-column-table tr td:nth-child(7), .eight-column-table tr td:nth-child(8) {
    background-color: #FFF;
    width: 8%;
}

.eight-column-table tr td:nth-child(7) input,
        .eight-column-table tr td:nth-child(8) input {
    background-color: transparent;
}

.four-column-table-userlist tr td:nth-child(1),
        .four-column-table-userlist tr td:nth-child(2) {
    width: 42%; 
}

.four-column-table-userlist tr td:nth-child(3),
        .four-column-table-userlist tr td:nth-child(4) {
    background-color: #FFF;
    width: 8%;
}

.four-column-table-userlist tr td:nth-child(3) input,
        .four-column-table-userlist tr td:nth-child(4) input {
    background-color: transparent;
}

.nine-column-table tr td:nth-child(1),
        .nine-column-table tr td:nth-child(6) {
    width: 12%;
}

.nine-column-table tr td:nth-child(2),
        .nine-column-table tr td:nth-child(4),
        .nine-column-table tr td:nth-child(5) {
    width: 15%;
}

.nine-column-table tr td:nth-child(3),
        .nine-column-table tr td:nth-child(7) {
    width: 6%;
}

.nine-column-table tr td:nth-child(8) {
    width: 11%;
}

.nine-column-table tr td:nth-child(9) {
    background-color: #FFF;
    width: 8%;
}

.btn-view {
	display: block;
    font-style: italic;
    color: #8C9FE8;
    font-size: 14px;
    padding: 5px 5px;
    background-color: transparent;
    border: none;
}

.btn-view:hover {
    text-decoration: underline;
}

.inset-switcher {
	width: 800px;
    margin: 20px auto;
}

.inset-switcher a {
    color: #8C9FE8;
    font-style: italic;
    padding: 5px 30px;
}